h1 {
    color: blue;
    font: bold;
    text-align: center;
    font-size: 40px;
}

p, span {
    color: red;
    font-size: 20px;
}

#niggers {
    color: brown;
    font: bolder;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    background-color: cadetblue;
    border: 1px solid blueviolet;
    color: black;
    display: block;
    width: 150px;
    margin-bottom: 1px;
    text-align: center;
}

a {
    text-decoration: none;
    color: aquamarine;
}